* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(245 245 245);
}


/*顶部*/

.top {
	width: 100%;
	height: 173px;
	background-image: url(../image/newsPage/top-bg.jpg);
}

.top .head {
	width: 1310px;
	margin-right: auto;
	margin-left: auto;
}

.head .logo {
	float: left;
	width: 300px;
	height: 70px;
	margin-top: 44px;
}

.logo img {
	width: 237px;
	height: 76px;
}


/*面包屑导航栏*/

.bread {
	height: 38px;
	float: right;
	margin-top: 130px;
	margin-right: 106px;
}

.breadcrumb {
	background-color: transparent;
	font-size: 22px;
}

.breadcrumb a {
	color: rgb(193 193 193);
	font-family: 楷体;
}

.breadcrumb a:hover {
	color: white;
}

.breadcrumb .active {
	color: rgb(214 214 214);
	font-family: 楷体;
}


/*主要内容*/

.main {
	width: 1100px;
	height: 672px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #b8b8b8;
	background-color: white;
	border-top: 0;
}


/*左侧导航栏*/

.left-1 {
	width: 162px;
	height: 672px;
	float: left;
}

.wrap1 {
	width: 162px;
	height: 100%;
	border-top: 0;
	border-left: 0;
	margin-top: -14px;
}

.header1 {
	border-radius: 5px;
	width: 100%;
	height: 65px;
	background-color: #666666;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 65px;
}

.nav1 {
	width: 150px;
	margin: 10px 5px 0;
}

.list1 {
	margin-bottom: 5px;
	list-style-type: none;
	border-radius: 5px;
}

.list1 h2 {
	position: relative;
	padding: 15px 0;
	background-color: rgb(45 119 182);
	text-align: center;
	font-size: 16px;
	color: #fff;
	transition: .5s;
	border-radius: 5px;
}

.hide1 h5 {
	padding: 10px 0;
	background-color: rgb(45 119 182);
	text-align: center;
	color: #fff;
	border-bottom: #42495d;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

.hide1 {
	height: 0px;
	overflow: hidden;
	transition: .5s;
	border-radius: 5px;
}

.list1 i {
	position: absolute;
	right: 10px;
	top: 14px;
	border: 8px solid transparent;
	border-left-color: #fff;
	transform: rotate(90deg);
	transform-origin: 1px 8px;
	transition: .5s;
	border-radius: 5px;
}


/*右侧主要内容*/

.right-1 {
	width: 936px;
	height: 672px;
	border: 1px solid rgb(214 214 214);
	border-right: 0;
	border-bottom: 0;
	float: right;
}

.right-1>img {
	position: relative;
	width: 442px;
	opacity: 0.2;
	top: 218px;
	left: 493px;
}


/*底部*/

.foot {
	width: 1100px;
	height: 75px;
	margin: 0px auto;
	border: 1px solid rgb(214 214 214);
	border-top: 0;
	background: -moz-linear-gradient(white, rgb(214 214 214));
	/* Firefox 3.6 - 15 */
	background: linear-gradient(white, rgb(214 214 214));
	/* 标准的语法（必须放在最后） */
}

.foot p {
	width: 642px;
	height: 21px;
	margin-top: 32px;
	display: inline-block;
	margin-left: 232px;
}


/*回到顶部*/

.neighbour {
	position: fixed;
	width: 47px;
	height: 50px;
	right: 160px;
	bottom: 46px;
}

.neighbour ul {
	list-style: none;
}

.neighbour ul li {
	margin-top: 11px;
	background-color: #2378c3;
	text-align: center;
	height: 45px;
	border-radius: 8px;
	animation: rotate 1.5s linear infinite;
}

.neighbour img {
	width: 30px;
	height: 30px;
	margin-top: 7px;
}

#toplist {
	display: none;
}

#topbtn {
	border: none;
	background-color: transparent;
}


/*传输过来的表格*/

.liebiao1 {
	width: 900px;
	height: 650px;
	margin-top: 6px;
	margin-left: 21px;
	position: absolute;
}

.hide1>h5>a {
	color: #FFFFFF;
}

.liebiao1 form {
	width: 384px;
	height: 329px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 88px;
}

.liebiao1 table {
	width: 550px;
}

.liebiao1 table td {
	width: 40%;
	height: 50px;
}


/*保存*/

.save {
	width: 80px;
	height: 36px;
	border-radius: 4px;
	background-color: white;
	border: 1px solid #c4c4c4;
	font-size: 17px;
	float: right;
}

form label {
	font-size: 17px;
	font-weight: 400;
}