* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F9F9F9;
}

.ourweb {
	width: 80%;
	margin: 40px auto;
	background-color: white;
	box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.head {
	width: 100%;
	height: 310px;
	background-image: url(../img/14.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}


/*模态框*/

.btn-lg {
	position: absolute;
	left: 978px;
	top: 158px;
	background-color: transparent!important;
	border: 1px solid transparent!important;
	color: transparent!important;
	padding: 0px!important;
}

.modal-body span {
	background-color: #fff!important;
}

.modal-body input {
	border-right: 0;
}

.modal-body .input-group {
	width: 272px;
	margin: 20px auto;
}

.modal-dialog {
	width: 375px;
	margin-right: auto;
	margin-right: auto;
	margin-top: 220px;
}

.main {
	width: 450px;
	margin: 28px auto;
}

.main .input-group {
	width: 450px;
	margin: 15px auto;
}

.input-group img {
	width: 30px;
}

.input-group>input {
	height: 44px;
}

.yanz {
	border: 1px solid grey;
	width: 144px;
	height: 44px;
	margin-left: 250px;
}

.rem {
	display: inline-block;
	float: left;
}

.remem1 {
	font-size: 15px;
	text-decoration: none;
	margin-left: 3px;
	color: #797878;
}

.forget {
	display: inline-block;
	float: right;
	font-size: 15px;
}

.forget a {
	color: #797878;
}

.forget a:hover {
	color: #8d7ce1;
}

.other {
	width: 100%;
	height: 25px;
}

.onAndReg {
	margin: 6px auto;
}

.btn-primary {
	background-color: #8d7ce1;
	border-color: #7d6ec4;
}

.btn-primary:hover {
	background-color: #6853d1;
}

.btn-primary:focus {
	background-color: #6853d1;
}

.toreg {
	width: 100%;
	height: 45px;
	margin-top: 15px;
}

.toreg:hover {
	color: #8d7ce1;
}

.reg {
	color: #555;
	text-align: center;
	display: block;
}

.remem1:hover {
	text-decoration: none;
	color: #797878;
}