	* {
		margin: 0;
		padding: 0;
	}
	
	body {
		background-color: #F9F9F9;
	}
	
	.mypart {
		width: 80%;
		margin: 40px auto;
		background-color: white;
		box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
	}
	
	.left {
		width: 50%;
		height: 647px;
		display: inline;
	}
	
	.left img {
		height: 647px;
		display: inline;
	}
	
	.right {
		float: right;
		width: 50%;
	}
	
	.menu {
		width: 350px;
		height: 400px;
		margin-top: 115px;
		margin-left: 48px;
		/*border:1px solid black;*/
	}
	
	.input-group {
		margin: 15px auto;
	}
	
	.input-group img {
		width: 30px;
	}
	
	.input-group>input {
		height: 44px;
	}
	
	.yanz {
		border: 1px solid grey;
		width: 110px;
		height: 44px;
		margin-left: 186px;
	}
	
	.toreg {
		width: 100%;
	}
	
	.toreg button {
		width: 100%;
		background-color: #8d7ce1;
		border-color: #7d6ec4;
		padding: 10px 0px;
		margin: 10px auto;
	}
	
	.toreg button:hover {
		background-color: #6853d1;
	}
	
	.close img {
		width: 28px;
		margin: 13px;
	}